*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html{
    height: 100%;
}

.confirmMessagePage{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.575);
    width: 100%;
    height: 100%;
}

.containerInside{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.containerConfirmMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: fit-content;
    max-width: 500px;
    padding: 10px;
    height: 300px;
    background-color: #171E26;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.buttonContainer input[type=button]{
    width: 150px;
    padding: 10px;
    background-color: white;
    color: #171E26;
    transition: 0.5s;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.buttonContainer input[type=button]:hover{
    background-color: #6F7D8C;
    color: white;
    font-weight: bold;
}

#containerDeleteMessage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.904);
    z-index: 2;
}

.containerDeleteMessage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.containerDeleteMessage input[type=button]{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background: #6F7D8C;
    color: white;
    cursor: pointer;
}

.containerDeleteMessage input[type=button]:hover{
    background: #171E26;
    color: white;
}

.containerDeleteMessage p{
    color: green;
    background-color: #aeffad;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*header*/
header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #6F7D8C;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoContainer img{
    width: 100px;
}

.logoContainer p{
    font-size: 25px;
    font-weight: bold;
    user-select: none;
    color: #171E26;
}

.containerLogoutButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    padding: 10px;
}

.containerLogoutButton input[type=button]{
    padding: 15px;
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}

.containerLogoutButton input[type=button]:hover{
    background-color: #171E26;
    color: white;
}

/*Main*/
main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#goPerfilLink{
    position: absolute;
    top: 110px;
    left: 3%;
    color: gray;
    font-weight: 500;
}

.leftContainer{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightContainer{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userInfos{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.userInfos input[type=button]{
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #6F7D8C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.deleteAccountContainer input[type=button]{
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    color: white;
    background-color: #6F7D8C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.userInfos input[type=button]:hover, .deleteAccountContainer input[type=button]:hover{
    background-color: #171E26;
}

.usernameContainer p span{
    font-weight: 500;
}

.perfilImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateImageValues{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.updateNameValues{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.updateNameValues input[type=text]{
    padding: 10px;
}

.updatePasswordValues{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
}

.passwordValuesLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.passwordValuesLine input[type=password]{
    padding: 10px;
}

.images{
    width: 200px;
}

#newImage, #userImage{
    border-radius: 50%;
}

/*Footer*/
footer{
    background-color: #6F7D8C;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

.containerCopyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.containerCopyRight p span{
    color: white;
    font-size: 17px;
    font-weight: 500;
}


@media screen and (max-width:350px) {
    .containerExternalLinks ul a, .containerCopyRight p span{
        font-size: 15px;
    }
}

@media screen and (max-width:880px) {
    .updateNameValues {
        flex-direction: column;
        row-gap: 10px;
    }

    .passwordValuesLine {
        flex-direction: column;
    }

    .containerDeleteMessage p {
        width: 80%;
    }
}

@media screen and (max-width: 570px) {
    .containerDeleteMessage p{
        font-size: 18px;
    }
}

@media screen and (max-width: 570px) {
    html {
        height: auto;
    }

    .logoContainer p {
        font-size: 15px;
    }

    .logoContainer img {
        width: 70px;
    }

    .containerLogoutButton {
        justify-content: center;
        width: 110px;
    }
    
    .containerLogoutButton input[type=button] {
        padding: 10px;
        width: 70px;
        border-radius: 8px;
    }

    main {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .leftContainer{
        margin-top: 40px;
    }

    .updateImageValues {
        align-items: center;
    }

    #newImageInput{
        width: 115px;
    }

    .containerConfirmMessage {
        max-width: 315px;
    }
}

@media screen and (max-width: 420px) {
    .containerDeleteMessage p {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .containerConfirmMessage {
        max-width: 245px;
    }

    .containerConfirmMessage h1{
        font-size: 15px;
    }

    .buttonContainer input[type=button] {
        width: 100px;
    }
}

@media screen and (max-height: 380px) {
    .containerConfirmMessage {
        height: 240px;
    }
}