*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;
}


/*Header*/
header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #6F7D8C;
}

header nav{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul{
    display: flex;
    list-style: none;
    column-gap: 30px;
}


header nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 3px;
    font-weight: 500;
}

header nav ul li a:hover{
    text-decoration: underline;
    color: white;
    background-color: #485059;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.logoContainer img{
    width: 100px;
}

.logoContainer p{
    font-size: 25px;
    font-weight: bold;
    cursor: default;
    user-select: none;
    color: #171E26;
    cursor: pointer;
}

#homeLogo{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    row-gap: 10px;
}

#homeLink{
    position: absolute;
    top: 110px;
    left: 10px;
}

#homeLink img{
    width: 40px;
    opacity: 80%;
}

main h1{
    color: #171E26;
}

.containterImgCentral img{
    opacity: 50%;
}


footer{
    background-color: #6F7D8C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

.containerExternalLinks{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.containerExternalLinks ul a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.containerCopyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.containerCopyRight p span{
    color: white;
    font-size: 17px;
    font-weight: 500;
}

@media screen and (max-width: 1100px){
    header nav {
        width: 40%;
    }
}


@media screen and (max-width: 530px){
    header nav {
        width: 80%;
        justify-content: flex-end;
        margin-right: 30px;
    }

    main h1{
        font-size: 20px;
    }

    .logoContainer p{
        font-size: 20px;
        width: 105px;
    }

    .containterImgCentral img {
        width: 300px;
    }

    .containerCopyRight p span {
        font-size: 15px;
        font-weight: 400;
    }
}

@media screen and (max-width: 390px){
    header nav {
        width: 5%;
        margin-right: 10px;
    }

    .logoContainer img {
        width: 50px;
    }

    header nav ul li a {
        font-size: 12px;
    }

    .logoContainer p {
        font-size: 15px;
    }

    .containterImgCentral img {
        width: 200px;
    }
}